# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# JWT
JWT_SECRET="your-secret-key-here"

# Server
PORT=3000

# CORS
CORS_ORIGIN="http://localhost:3001"

# Backend URL (para URLs de archivos)
BACKEND_URL="http://localhost:3000" 